body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 20px;
}

h1 {
  color: azure;
  text-align: center;
  border-bottom: 2px solid cyan;
  padding-bottom: 5px;
}

p {
  color:dimgray;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 25px;
}

img {
   margin-left: 350px;
    border-radius: 10px;
}